<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <ion-title>商品详情</ion-title> 
  </ion-navbar>

</ion-header>

<ion-content style="background:#eee">
  <!-- <div style="position:relative"> -->
    <ion-slides *ngIf="carouselImg.length>0" pager loop="true" autoplay="1000" style="height:15rem"  >
      <ion-slide *ngFor="let item of carouselImg">
        <img [src]="'assets/'+item" alt="">
      </ion-slide>
    </ion-slides>
    <div style="background:#fff;margin:0 1rem;padding-top:0" padding>
      <div text-center>
        <img src="assets/imgs/avatar/default.jpg" alt="" style="position:relative;top:-1.5rem;z-index:10;border-radius:50%;width:5rem;">
        <h3 style="margin:0;font-size:1.4rem">杨薇薇</h3>
        <p style="margin:0;font-size:1rem">人在江湖漂</p>
      </div>
      <h1 style="font-size:4rem">{{detail.subtitle}}</h1>
      <p style="color:red">{{detail.price}}</p>
      <h3>正品保证 | 全场包邮 | 不可退</h3>
      <button ion-button style="background:#eee;color:#333" block small (click)="addCart()">
        <p style="position:absolute;left:1rem">选择规格</p>
        <ion-icon  name="arrow-forward" style="position:absolute;right:1rem"></ion-icon>
      </button>
    </div>
    <ion-item no-lines>
        <h3 item-start  style="margin:0">商品详情</h3>
    </ion-item>
    <ion-list >
      <ng-container *ngFor="let item of detailImg" style="padding:0;margin:0">
        <img [src]="'assets/'+item" alt="">
      </ng-container>
    </ion-list>
</ion-content>
<ion-footer style="border-top:1px solid #aaa;box-sizing:border-box">
  <ion-grid style="padding:0">
    <ion-row>
      <ion-col col-2 text-center style="border-right:1px solid #aaa" (click)="jumpToCart()">
        <img src="assets/imgs/detail/cart.png" alt="" style="width:2rem">
        <p>购物车</p>
      </ion-col>
      <ion-col col-2 text-center style="border-right:1px solid #aaa" (click)="toggleLike()">
        <img src="assets/imgs/detail/like.png" alt="" style="width:2rem" *ngIf="!isLike">
        <img src="assets/imgs/detail/like_on.png" alt="" style="width:2rem" *ngIf="isLike">
        <p>关注</p>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-button clear color="dark" (click)="addCart()">加入购物车</button>
      </ion-col>
      <ion-col text-center style="background:#000">
        <button ion-button clear color="light" (click)="addCart()">立即购买</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
