page-home {
  body{
    font-size:5px;
  }
  a{
    text-decoration: none;
  }
  p{
    color:#333;
  }
  div.scroll-content{
    padding:0;
  }
  .clearfixed::after{
    content:"";
    clear:both;
    display: block;
  }
  ::-webkit-scrollbar{
    display:none;
  }
  .card-content-ios,.card-content-md{
    padding:.5rem .5rem .2rem .5rem;
  }
}
