page-home {
  body{
    font-size:10px;
  }
  a{
    text-decoration: none;
  }
  p{
    color:#333;
  }
  // #recommend .item-inner,#life_home {
  //   padding:0;
  // }
  .clearfixed::after{
    content:"";
    clear:both;
    display: block;
  }
  ::-webkit-scrollbar{
    display:none;
  }
}
