<!--
  Generated template for the PayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-content>
    <div style="height:250px;width:100%;background:rgba(0,0,0,.3)"></div>
    <ion-list no-lines>
      <ion-item >
        <ion-thumbnail item-left>
          <img [src]="'assets/'+img">
        </ion-thumbnail>
        <h2 style="font-size:2rem">{{product.title}}</h2>
        <p style="color:red">{{product.price}}</p>
      </ion-item>
      <ion-item>
        <button ion-button color="dark" item-left>{{product.spec}}</button>
      </ion-item>
      <ion-item style="font-size:3rem">
          <p><b>数量</b>(库存充足)</p>
          <ion-icon name="remove-circle-outline" *ngIf="count<=1" (click)="calCount(false)"></ion-icon>
          <ion-icon name="remove-circle" *ngIf="count>1" (click)="calCount(false)"></ion-icon>
          <span>{{count}}</span>
          <ion-icon name="add-circle" (click)="calCount(true)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button ion-button full color="dark" (click)="showToast()">加入购物车</button>
  </ion-footer>
  